<div class="row">
    <div class="col-sm-4 col-md-3">
        <h1><f:translate key="LLL:EXT:slug/Resources/Private/Language/locallang.xlf:ext.title"/> <small><f:translate key="LLL:EXT:slug/Resources/Private/Language/locallang.xlf:ext.version" arguments="{0:'{extEmconf.version}'}"/></small></h1>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="btn-group pull-right">
            <f:link.action action="list" controller="Page" class="btn btn-default">
                <i class="fa fa-file-o"></i> {f:translate(key:'button.pages', extensionName: slug)}
            </f:link.action>
            <f:link.action action="tree" controller="Page" class="btn btn-default">
                <i class="fa fa-tree"></i> {f:translate(key:'button.tree', extensionName: slug)}
            </f:link.action>
            <f:link.action action="newsList" controller="Extension" class="btn btn-default">
                <f:image src="EXT:slug/Resources/Public/Icons/news_domain_model_news.svg" height="14" title="id={news.uid}"/> {f:translate(key:'button.news', extensionName: slug)}
            </f:link.action>
        </div>
        <f:comment>
            <div class="alert alert-info">
                <f:format.raw>
                    <f:translate key="LLL:EXT:slug/Resources/Private/Language/locallang.xlf:ext.note"/>
                </f:format.raw>
            </div>
        </f:comment>
    </div>
</div>